In [1]:
import pandas as pd

# Load the CSV files
catboost = pd.read_csv("cat_Boost_submission (2).csv")
xgboost = pd.read_csv("xgboost_submission (3).csv")

# Define accuracy scores for weighted averaging
accuracy_catboost = 0.94397
accuracy_xgboost = 0.94386

# Simple Average
simple_avg = catboost.copy()
simple_avg['Depression'] = (catboost['Depression'] + xgboost['Depression']) / 2
# Convert to binary predictions
simple_avg['Depression'] = (simple_avg['Depression'] >= 0.5).astype(int)
simple_avg.to_csv("submission_simple_avg_of2.csv", index=False)

# Weighted Average (accuracy as weights)
weights = [accuracy_catboost, accuracy_xgboost]
total_weight = sum(weights)
weighted_avg = catboost.copy()
weighted_avg['Depression'] = (
    (catboost['Depression'] * weights[0] + xgboost['Depression'] * weights[1]) 
    / total_weight
)
# Convert to binary predictions
weighted_avg['Depression'] = (weighted_avg['Depression'] >= 0.5).astype(int)
weighted_avg.to_csv("submission_weighted_avg_of2.csv", index=False)

print("Files generated: submission_simple_avg_of2.csv, submission_weighted_avg_of2.csv")

Files generated: submission_simple_avg_of2.csv, submission_weighted_avg_of2.csv

In [2]:
simple_avg

           id  Depression
0      140700           0
1      140701           0
2      140702           0
3      140703           1
4      140704           0
...       ...         ...
93795  234495           0
93796  234496           1
93797  234497           0
93798  234498           1
93799  234499           0

[93800 rows x 2 columns]

In [3]:
weighted_avg

           id  Depression
0      140700           0
1      140701           0
2      140702           0
3      140703           1
4      140704           0
...       ...         ...
93795  234495           0
93796  234496           1
93797  234497           0
93798  234498           1
93799  234499           0

[93800 rows x 2 columns]